<!DOCTYPE html>
<html>
    <head>
        {% include 'Login/style.html' %}
        <script>
            let carrito={{carrito}};
            function poster(){
                document.getElementById('Ilista').value = Object.entries(carrito).flat().join(',');
                document.formCarrito.submit();
            }
        </script>
    </head>
    <body>
        <div class="container">
            <h1>Informacion de Facturacion</h1>
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <h2 class="card-title">Informacion Personal</h2>
                        <p class="card-text">{{nombre}} {{apellidos}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2>Informacion de Contacto</h2>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <h3 class="card-title">Telefonos</h3>
                        <ul class="list-group">
                            {% for tel in telefonos.items %}
                            <li class="list-group-item">{{tel.1}} {{tel.0}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <h3 class="card-title">Correos</h3>
                        <ul class="list-group">
                            {% for correo in correos.items %}
                            <li class="list-group-item">{{correo.1}} {{correo.0}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <form id='formCarrito' name = "formCarrito" method = 'POST' action = "{% url 'facturar' uid sid %}" class="row">{% csrf_token %}<input type = "hidden" name = 'carrito' id = 'Ilista' value="">
                <div class="col-sm">
                    <div class="card">
                        <h2 class="card-title">Metodos de Pago</h2>
                        <ul class="list-group">
                            {% for met in metodos.items %}
                            <li class="list-group-item">
                                <input type="radio" name="mid" value="{{met.0}}" id="mid{{med.0}}" checked>
                                <label for="mid{{met.0}}">{{met.1}}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                        <h2 class="card-title">Cupones de Descuento</h2>
                        <ul class="list-group">
                            {% for cupon in cupones.items %}
                            <li class="list-group-item">
                                <input type="radio" name="cid" value="{{cupon.0}}" id="cid{{cupon.0}}"><label for="cid{{cupon.0}}">{{cupon.1}}</label><br>
                            </li>
                            {% empty %}
                            <li class="list-group-item"> Usted no dispone de Cupones de Descuento</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm">
                    <button onclick="poster()">Facturar</button>
                </div>
            </div>
        </div>
    </body>
</html>