<!DOCTYPE html>
<html>
    <head>
        {% include 'Catalogo/header.html'%}
    </head>
    <body>
    {% if code is 200 %}
        <p>La compra se ha realizado de manera exitosa, puede realizar una evaluacion del producto cuando lo reciba desde la pagina principal usando el codigo <code>{{sid}}:{{id}}</code></p>
    {% else %}
        <p>Ha ocurrido un error en la compra, por favor vease para mas detalle</p>
    {% endif %}
    <div id="detalle">
        <code>{{detalle}}</code>
    </div>
    <a href="{% url 'sucursales' uid %}">Regresar a Lista de sucursales</a>
    </body>
</html>