<!DOCTYPE html>
<html>
    <head>
        {% include 'Login/style.html' %}
        <script>
            let carrito={};
            function addProd(p){
                if(!carrito[p]) carrito[p]=0;
                carrito[p]++;
            }
            function poster(){
                document.getElementById('Ilista').value = Object.entries(carrito).flat().join(',');
                document.formCarrito.submit();
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>Catalogo de Productos</h1>
                </div>
            </div>
            {% for x,y,z in productos %}
            <div class="row">
                {% if x %}
                <div class="col-sm">
                    <div class="card">
                        <img src="{{x.foto}}" alt="Foto {{x.nombre}}" class="card-img-top"/>
                        <label class="card-title"><strong>{{x.nombre}}</strong></label>
                        <p class="card-text text-center">{{x.descripcion}}</p>
                        <p class="card-text text-right">Precio: <span class="badge badge-primary">{{x.precio}}</span></p>
                        <button onclick="addProd({{x.id}})">Agregar al Carrito</button>
                    </div>
                </div>
                {% endif %}
                {% if y %}
                <div class="col-sm">
                    <div class="card">
                        <img src="{{y.foto}}" alt="Foto {{y.nombre}}" class="card-img-top"/>
                        <label class="card-title"><strong>{{y.nombre}}</strong></label>
                        <p class="card-text text-center">{{y.descripcion}}</p>
                        <p class="card-text text-right">Precio: <span class="badge badge-primary">{{y.precio}}</span></p>
                        <button onclick="addProd({{y.id}})">Agregar al Carrito</button>
                    </div>
                </div>
                {% endif %}
                {% if z %}
                <div class="col-sm">
                    <div class="card">
                        <img src="{{z.foto}}" alt="Foto {{z.nombre}}" class="card-img-top"/>
                        <label class="card-title"><strong>{{z.nombre}}</strong></label>
                        <p class="card-text text-center">{{z.descripcion}}</p>
                        <p class="card-text text-right">Precio: <span class="badge badge-primary">{{z.precio}}</span></p>
                        <button onclick="addProd({{z.id}})">Agregar al Carrito</button>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm">
                    <button onclick="poster()" class="btn btn-primary">Ver Carrito</button>
                    <form id='formCarrito' name = "formCarrito" method = 'POST' action = "{% url 'carrito' uid sid %}">
                    {% csrf_token %}<input type = "hidden" name = 'carrito' id = 'Ilista' value=""></form>
                </div>
            </div>
        </div>
    </body>
</html>