<!DOCTYPE html>
<html>
    <head>
        {% include 'Login/style.html' %}
    </head>
    <body>
        {% for prod in lista_productos %}
        <div>
            <div>
                <label>Producto: {{prod.1}}</label>
                <label>Precio: {{prod.4}}</label>
                <button onclick="addProd({{prod.0}})">Agregar al Carrito</button>
            </div>
            <div>
                <img src="{{prod.3}}" alt="Foto {{prod.1}}" />
            </div>
        </div>
        {% endfor %}
            <form action="{% url 'carrito' %}" name="carrito" method="POST" target="">{% csrf_token %}<input type="hidden" name="lista" id="Ilista" value="loca"></form>
        <iframe name="resultado" title="Resultado Factura"></iframe>
        <button onclick="poster()">Ver Carrito</button>
    </body>
</html>